  <form action="/answer" data-turbo="false" class="input-group mb-3">
    <input type="text" name="question" class="form-control" placeholder="Tap your question">
    <input class="btn btn-primary" value="Ask!" type="submit" id="button-addon2" >
  </form>
